- name: Get zsh path
  ansible.builtin.command: which zsh
  register: zsh_path

- name: Set zsh as default shell
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: "{{ zsh_path.stdout }}"
    state: present
