# tasks/github-packages.yml
- name: Install/update packages from GitHub releases
  include_role:
    name: github_deb_installer
  vars:
    github_repo: "{{ package.repo }}"
    package_name: "{{ package.package }}"
    deb_pattern: "{{ package.pattern | default('.*\\.deb) }}"
  loop:
    - repo: "sharkdp/bat"
      package: "bat"
      pattern: ".*amd64\\.deb$"
    # Add more packages here as needed
  loop_control:
    loop_var: package
