# tasks/github-packages.yml
- name: Install/update packages from GitHub releases
  include_role:
    name: github_deb_installer
  vars:
    github_repo: "{{ package.repo }}"
    package_name: "{{ package.package }}"
    deb_pattern: "{{ package.pattern | default('.*\\.deb$') }}"
  loop:
    - repo: "sharkdp/bat"
      package: "bat"
      pattern: '^bat_[0-9.]+_amd64\.deb$'
    - repo: "PowerShell/PowerShell"
      package: "powershell"
      # pattern match this: powershell_7.5.4-1.deb_amd64.deb
      pattern: '^powershell_[0-9.+-]+\.deb_amd64\.deb$'

    # Use single quotes to avoid YAML parsing issues with regex
    # Add more packages here as needed
  loop_control:
    loop_var: package
