# tasks/github-packages.yml
- name: Install/update packages from GitHub releases
  include_role:
    name: github_deb_installer
  vars:
    github_repo: "{{ package.repo }}"
    package_name: "{{ package.package }}"
    deb_pattern: "{{ package.pattern | default('.*\\.deb$') }}"
  loop:
    - repo: "sharkdp/bat"
      package: "bat"
      pattern: '^bat-musl_[0-9.]+_musl-linux-amd64\.deb$'
    # USe single quotes to avoid YAML parsing issues with regex
    # Add more packages here as needed
  loop_control:
    loop_var: package
