- name: Install/update packages from GitHub releases
  include_role:
    name: github_deb_installer
  vars:
    github_repo: "{{ package.repo }}"
    package_name: "{{ package.package }}"
    deb_pattern: "{{ package.pattern | default('.*\\.deb$') }}"
  loop:
    - repo: "sharkdp/bat"
      package: "bat"
      pattern: '^bat_[0-9.]+_amd64\.deb$'
    - repo: "PowerShell/PowerShell"
      package: "powershell"
      pattern: '^powershell_[0-9.+-]+\.deb_amd64\.deb$'
  loop_control:
    loop_var: package
  when: not (package.package == 'powershell' and ansible_distribution == 'Debian')

# Then add PowerShell via snap for Debian
- name: Install PowerShell via snap on Debian
  community.general.snap:
    name: powershell
    classic: yes
    state: present
  become: true
  when: ansible_distribution == 'Debian'
