- name: Download Microsoft repo config package for Debian 13 (trixie)
  ansible.builtin.apt_repository:
    repo: deb https://packages.microsoft.com/repos/vscode stable main
    state: present
    filename: microsoft-vscode.list
    update_cache: yes

- name: Ensure Microsoft packages are installed
  ansible.builtin.apt:
    name:
      - vscode
    state: present
