- name: Install apt-transport-https
  ansible.builtin.apt:
    name: apt-transport-https
    state: latest
    update_cache: true

- name: Add microsoft-edge-stable apt signing key

- name: Download Microsoft GPG key
  ansible.builtin.get_url:
    url: "https://packages.microsoft.com/keys/microsoft.asc"
    dest: "/usr/share/keyrings/microsoft-edge.gpg"
    mode: "0644"
    force: true

- name: Add microsoft-edge-stable repository into sources list
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/microsoft-edge.gpg] https://packages.microsoft.com/repos/edge stable main"
    state: present
    filename: microsoft-edge

- name: Install microsoft-edge-stable
  ansible.builtin.apt:
    name: "microsoft-edge-stable"
    state: latest
    update_cache: true
