- name: Download Microsoft repo config package for Debian 13 (trixie)
  ansible.builtin.get_url:
    url: https://packages.microsoft.com/config/debian/13/packages-microsoft-prod.deb
    dest: /tmp/packages-microsoft-prod.deb
    mode: "0644"

- name: Install Microsoft repo config package
  ansible.builtin.apt:
    deb: /tmp/packages-microsoft-prod.deb

- name: Remove Microsoft repo config package
  ansible.builtin.file:
    path: /tmp/packages-microsoft-prod.deb
    state: absent

- name: Update apt cache after adding Microsoft repo
  ansible.builtin.apt:
    update_cache: yes
