- name: Install packages
  apt:
    name:
      - htop
      - curl
      - ca-certificates
      - openssh-server
      - tmux
      - zsh
      - alacritty
    state: present

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  tags: [print_action]

- name: Update all packages to the latest version
  ansible.builtin.apt:
    upgrade: dist
    autoremove: yes
    autoclean: yes
    state: latest
