- name: Install packages
  apt:
    name:
      - htop
      - curl
      - ca-certificates
      - openssh-server
      - tmux
    state: present
    update_cache: yes
  when: ansible_os_family == 'Debian'
