- name: Download Forticlient GPG key
  ansible.builtin.get_url:
    url: "https://repo.fortinet.com/repo/7.0/ubuntu/DEB-GPG-KEY"
    dest: "/usr/share/keyrings/fortinet.gpg"
    mode: "0644"
    force: true

- name: Add Fortinet repo in .sources format
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/forticlient.sources
    content: |
      Types: deb
      URIs: https://repo.fortinet.com/repo/forticlient/7.4/ubuntu22/
      Suites: stable
      Components: non-free
      Signed-By: /usr/share/keyrings/fortinet.gpg
    mode: "0644"

- name: Pin FortiClient to Fortinet repo
  ansible.builtin.copy:
    dest: /etc/apt/preferences.d/forticlient.pref
    content: |
      Package: forticlient
      Pin: origin "repo.fortinet.com"
      Pin-Priority: 1001
    mode: "0644"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install FortiClient
  ansible.builtin.apt:
    name: forticlient
    state: present

- name: Register invitation code from vault secret
  ansible.builtin.command:
    cmd: "/opt/forticlient/epctrl -c {{ forticlient_invitation_code }}"
  when: forticlient_invitation_code is defined

# Install crowdstrike falcon sensor
- name: Download CrowdStrike Falcon Sensor deb package
  ansible.builtin.get_url:
    url: "{{ crowdstrike_falcon_sensor_url }}"
    dest: "/tmp/CrowdStrike-Falcon-Sensor.deb"
    mode: "0644"
    force: true

- name: Install CrowdStrike Falcon Sensor deb package
  ansible.builtin.apt:
    deb: "/tmp/CrowdStrike-Falcon-Sensor.deb"
  when: crowdstrike_falcon_sensor_url is defined

- name: Register CrowdStrike Falcon Sensor with provided CID
  ansible.builtin.command:
    cmd: "/opt/CrowdStrike/falconctl -s --cid={{ crowdstrike_falcon_sensor_cid }}"
  when: crowdstrike_falcon_sensor_cid is defined
  no_log: True
