# Disable sleep and hibernate on AC power in KDE (Plasma 6)
- name: Check if KDE (plasmashell) is installed
  ansible.builtin.stat:
    path: /usr/bin/plasmashell
  register: kde_plasmashell

- name: Disable sleep on AC power in KDE (Plasma 6)
  ansible.builtin.command: kwriteconfig6 --file powerdevilrc --group AC --group Display --key DimDisplayIdelTimeoutSec 99
  become: false
  changed_when: false
  when: kde_plasmashell.stat.exists
