# Disable sleep and hibernate on AC power in KDE (Plasma 6)
- name: Check if KDE (plasmashell) is installed
  ansible.builtin.stat:
    path: /usr/bin/plasmashell
  register: kde_plasmashell

- name: Disable sleep on AC power in KDE (Plasma 6)
  ansible.builtin.ini_file:
    path: "{{ lookup('env', 'HOME') }}/.config/powerdevilrc"
    section: "AC][Display"
    option: "DimDisplayIdelTimeoutSec"
    value: "33"
    backup: true
  become: false
  when: kde_plasmashell.stat.exists
