- name: Install apt-transport-https
  ansible.builtin.apt:
    name: apt-transport-https
    state: latest
    update_cache: true

- name: Download hashicorp GPG key
  ansible.builtin.get_url:
    url: "https://apt.releases.hashicorp.com/gpg"
    dest: "/usr/share/keyrings/hashicorp-keyring.gpg"
    mode: "0644"
    force: true

- name: Add hashicorp repository into sources list
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/hashicorp-keyring.gpg] https://apt.releases.hashicorp.com/ trixie main"
    state: present
    filename: hashicorp

- name: Install terraform
  ansible.builtin.apt:
    name: "terraform"
    state: latest
    update_cache: true
